@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63af97ea4c10a2b12b0deb45.63af97eb4c10a2b12b0deb48.63af981a245ea25a85f2e45f.hcp.png");

@font-face {
  font-family: "Articulat CF-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/ArticulatCF-Bold") format("opentype");
}
@font-face {
  font-family: "Articulat CF-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("https://fonts.animaapp.com/ArticulatCF-ExtraBold") format("opentype");
}
@font-face {
  font-family: "Articulat CF-DemiBold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/ArticulatCF-DemiBold") format("opentype");
}
@font-face {
  font-family: "Articulat CF-Heavy";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/ArticulatCF-Heavy") format("opentype");
}
@font-face {
  font-family: "Articulat CF-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/ArticulatCF-Medium") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
